    <!-- Start Footer End -->
    <footer class="footer-area">
      <div class="row align-items-center">
          <div class="col-lg-6 col-sm-6 col-md-6">
            Status
            <span *ngIf="wsService.socketStatus" class="text-success">Online</span>
            <span *ngIf="!wsService.socketStatus" class="text-danger">OffLine</span>
              <p>Copyright <i class='bx bx-copyright'></i> 2022 <a href="#">Fiva</a>. All rights reserved</p>
          </div>

          <div class="col-lg-6 col-sm-6 col-md-6 text-right">
              <p>Designed by ❤️ <a href="https://envytheme.com/" target="_blank">EnvyTheme</a></p>
          </div>
      </div>
  </footer>
  <!-- End Footer End -->


<!-- End Main Content Wrapper Area -->
