
<!-- <div class="container">
    <br><br><br> 
<div class="invoice-area mb-90">
    <div class="invoice-header mb-30 d-flex justify-content-between">
        <div class="invoice-center-text"><br><br>
            <h3 class="mb-0">CONTROL SEGURIDAD FUNCIONARIOS</h3>
            
        </div>

        <div class="invoice-right-text">
           
        </div>
    </div>

    <div class="invoice-media mb-30">
        <div class="row">
            <div class="col-lg-3">
                <div class="text">
                    
                    <h4 class="mb-2" >Agentes Dentro </h4>
                    <div *ngFor="let msg of mensajes ">
                        <span style="color:green" class="d-block mb-1">{{msg.de}}&nbsp;&nbsp;:&nbsp;&nbsp;{{msg.cuerpo}}</span>
                    </div>
                   
                   
                </div>
            </div>

            <div class="col-lg-3 ">
                <div class="text">
                    <h4 class="mb-2">Agentes de comision</h4>
                   
                    <div *ngFor="let msg of mensajescomision ">
                        <span style="color:red" class="d-block mb-1">{{msg.de}}&nbsp;&nbsp;:&nbsp;&nbsp;{{msg.cuerpo}}</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="text text-right" *ngFor="let msg of totalmensajes ">
                    <span style="color:red" class="d-block mb-1">{{msg.de}}&nbsp;&nbsp;:&nbsp;&nbsp;{{msg.cuerpo}}</span>
                </div>
            </div><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>

  
        numero_gafete,
                    sedeIngreso,
                    accion,
                    usuario
</div> -->
<app-sidebar></app-sidebar>
<div class="container col-sm-12 offset-md-3 col-md-12 col-lg-12 col-xl-9">
    <br><br><br><br>
    <h4 class="mb-2 text-center" >Registros de Personal en Tiempo Real</h4>
    <br>
    <div class="row">
        <div class="col my-fixed-item" >
            <h4 class="mb-2" >Personal Dentro</h4>
            <div class="word">
                <ol id="lista2" >
                    <div *ngFor="let msg of ingresos">
                        <li>{{msg.numero_gafete}}&nbsp;{{msg.sede}}&nbsp;{{msg.movimiento}}</li>
                    </div>
                </ol>
            </div>
            
        </div>
        <div class="col">
            <h4 class="mb-2" >Personal fuera</h4>
            <div class="word">
                <ol id="lista2" >
                    <div *ngFor="let msg of salidas">
                        <li>{{msg.numero_gafete}}&nbsp;{{msg.sede}}&nbsp;{{msg.movimiento}}</li>
                    </div> 
                </ol>
            </div>
        </div>
        <div class="col">
            <h4 class="mb-2" >Total Movimientos</h4>
            <div class="word">
                <ol id="lista2" >
                    <div *ngFor="let msg of mensajes">
                        <li>{{msg.numero_gafete}}&nbsp;{{msg.sede}}&nbsp;{{msg.movimiento}}</li>
                    </div> 
                </ol>
            </div>
        </div>
    </div>
</div>


