
 <app-sidebar></app-sidebar>
 <div class="container  col-sm-12 offset-md-2 col-md-12 col-lg-12 col-xl-9">
    <div class="chat-content-area mt-20">
        <div class="sidebar-left">
            <div class="sidebar">
                <div class="chat-sidebar-header d-flex align-items-center">
                    <div class="avatar mr-3">
                        <img src="assets\img\userlogo.png"  class="rounded-circle" alt="image">
                    </div>
    
                    <!-- <form class="form-group position-relative mb-0">
                        <label><i class='bx bx-search'></i></label>
                        <input type="text" class="form-control" placeholder="Search here...">
                    </form> -->
                </div>
    
                <app-lista-usuarios></app-lista-usuarios>
            </div>
        </div>
    
        <div class="content-right">
            <div class="chat-area">
                <div class="chat-list-wrapper">
                    <div class="chat-list">
                        <div class="chat-list-header d-flex align-items-center">
                            <div class="header-left d-flex align-items-center mr-3">
                                <div class="avatar mr-3">
                                    <img src="assets\img\userlogo.png"  class="rounded-circle" alt="image">
                                    <span  class="status-online"></span>
                                </div>
                                <h6 class="mb-0 font-weight-bold"> {{wsService.usuario?.nombre}}</h6>
                            </div>
                           
                            
                        </div>
    
                        <div class="chat-container"   id="chat-mensajes" #scrollMe style="overflow: scroll; height: xyz;" >
                            <div class="chat-content"  *ngFor="let msg of mensajes"  >
                                <div *ngIf="wsService.usuario?.nombre!=msg.de">
                                    <div class="chat"  >
                                        <div class="chat-avatar" >
                                            <a href="#" class="d-inline-block">
                                                <img src="assets\img\userlogo.png"  class="rounded-circle" alt="image">
                                            </a>
                                        </div>
        
                                        <div class="chat-body" *ngIf="wsService.usuario?.nombre!=msg.de">
                                            <div class="chat-message">
                                                <p style="width: 100%;"><strong>{{msg.de}}:</strong><br>{{msg.cuerpo}}</p>
                                                <span class="time d-block">{{msg.hora}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div *ngIf="wsService.usuario?.nombre==msg.de">
                                    <div class="chat chat-left"  >
                                        <div class="chat-avatar" >
                                            <a href="#" class="d-inline-block">
                                                <img src="assets\img\userlogo.png"  class="rounded-circle" alt="image">
                                            </a>
                                        </div>
        
                                        <div class="chat-body" *ngIf="wsService.usuario?.nombre==msg.de">
                                            <div class="chat-message">
                                                <p style="width: 100%;"><strong>{{msg.de}}</strong><br>{{msg.cuerpo}}</p>
                                                <span class="time d-block">{{msg.hora}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
    
                            </div>
                        </div>
    
                        <div class="chat-list-footer" >
                            <form class="d-flex align-items-center" (ngSubmit)="enviar()">
                                <div class="btn-box d-flex align-items-center mr-3">
                                    <!-- <button class="emoji-btn d-inline-block mr-2" data-toggle="tooltip" data-placement="top" title="Emoji" type="button"><i class='bx bx-smile'></i></button> -->
                                   
                                        <!-- <input type="file" 
                                        class="file-attachment-btn d-inline-block" 
                                        data-toggle="tooltip" 
                                        data-placement="top" 
                                        title="Adjuntar archivo" name="archivo"> -->
                                        
    
                                    <!-- <button class="file-attachment-btn d-inline-block" data-toggle="tooltip" data-placement="top" title="Adjuntar archivo" type="button"><i class='bx bx-paperclip'></i></button> -->
                                </div>
    
                                <input type="text" [(ngModel)]="texto"
                                class="form-control chat-input" name="texto"
                                placeholder="Mensajes..."
                                autofocus
                                autocomplete="off">

    
                                <button type="submit" class="send-btn d-inline-block">Send <i class="bx bx-paper-plane"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>



<!-- <div class="container">
    <br><br><br> -->
<!-- <div class="invoice-area mb-90">
    <div class="invoice-header mb-30 d-flex justify-content-between">
        <div class="invoice-center-text"><br><br>
            <h3 class="mb-0">CONTROL SEGURIDAD FUNCIONARIOS</h3>
            
        </div>

        <div class="invoice-right-text">
           
        </div>
    </div>

    <div class="invoice-media mb-30">
        <div class="row">
            <div class="col-lg-3">
                <div class="text">
                    
                    <h4 class="mb-2" >Agentes Dentro </h4>
                    <div *ngFor="let msg of mensajes ">
                        <span style="color:green" class="d-block mb-1">{{msg.de}}&nbsp;&nbsp;:&nbsp;&nbsp;{{msg.cuerpo}}</span>
                    </div>
                   
                   
                </div>
            </div>

            <div class="col-lg-3 ">
                <div class="text">
                    <h4 class="mb-2">Agentes de comision</h4>
                   
                    <div *ngFor="let msg of mensajescomision ">
                        <span style="color:red" class="d-block mb-1">{{msg.de}}&nbsp;&nbsp;:&nbsp;&nbsp;{{msg.cuerpo}}</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="text text-right" *ngFor="let msg of totalmensajes ">
                    <span style="color:red" class="d-block mb-1">{{msg.de}}&nbsp;&nbsp;:&nbsp;&nbsp;{{msg.cuerpo}}</span>
                </div>
            </div><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>

  
        
</div>
<!-- <div class="container">
<h4 class="mb-2 text-center" >DEPARTAMENTO FUNCIONARIOS</h4>
<br>
    <div class="row">
        <div class="col">
            <h4 class="mb-2" >Agentes Dentro</h4>
            <ol id="lista2" >
                <div *ngFor="let msg of mensajes">
                    <li>{{msg.de}}&nbsp;&nbsp;:&nbsp;&nbsp;{{msg.cuerpo}}&nbsp;&nbsp;{{msg.now}}</li>
                </div>
            </ol>
        </div>
        <div class="col">
            <h4 class="mb-2" >Agentes de Comisión</h4>
            <ol id="lista2">
                <div *ngFor="let msg of mensajescomision">
                    <li>{{msg.de}}&nbsp;&nbsp;:&nbsp;&nbsp;{{msg.cuerpo}}&nbsp;&nbsp;{{msg.now}}</li>
                </div> 
            </ol>
        </div>
        <div class="col">
            <h4 class="mb-2" >Total Movimientos</h4>
            <ol id="lista2">
                <div *ngFor="let msg of totalmensajes">
                    <li>{{msg.de}}&nbsp;&nbsp;:&nbsp;&nbsp;{{msg.cuerpo}}&nbsp;&nbsp;{{msg.now}}</li>
                </div> 
            </ol>
        </div>
    </div>
</div> -->





