<!-- <div class="chat-content-area mt-20">
    <div class="sidebar-left">
        <div class="sidebar">
            <div class="chat-sidebar-header d-flex align-items-center">
                <div class="avatar mr-3">
                    <img src="assets\img\user1.jpg" width="50" height="50" class="rounded-circle" alt="image">
                </div>

                <form class="form-group position-relative mb-0">
                    <label><i class='bx bx-search'></i></label>
                    <input type="text" class="form-control" placeholder="Search here...">
                </form>
            </div>

            <app-lista-usuarios></app-lista-usuarios>
        </div>
    </div>

    <div class="content-right">
        <div class="chat-area">
            <div class="chat-list-wrapper">
                <div class="chat-list">
                    <div class="chat-list-header d-flex align-items-center">
                        <div class="header-left d-flex align-items-center mr-3">
                            <div class="avatar mr-3">
                                <img src="assets\img\user2.jpg" width="70" height="70" class="rounded-circle" alt="image">
                                <span class="status-online"></span>
                            </div>
                            <h6 class="mb-0 font-weight-bold"> {{wsService.usuario?.nombre}}</h6>
                        </div>
                    </div>

                    <div class="chat-container" data-simplebar=""  id="chat-mensajes">
                        <div class="chat-content">
                            <div class="chat" *ngFor="let msg of mensajes">
                                <div class="chat-avatar">
                                    <a href="#" class="d-inline-block">
                                        <img src="assets\img\user1.jpg" width="50" height="50" class="rounded-circle" alt="image">
                                    </a>
                                </div>

                                <div class="chat-body">
                                    <div class="chat-message">
                                        <p>{{msg.de}}:{{msg.cuerpo}}</p>

                                    </div>
                                </div>
                            </div>

                            <div class="chat chat-left">
                                <div class="chat-avatar">
                                    <a href="#" class="d-inline-block">
                                        <img src="assets\img\user2.jpg" width="50" height="50" class="rounded-circle" alt="image">
                                    </a>
                                </div>

                                <div class="chat-body">
                                    <div class="chat-message">
                                        <p>Could you describe EnvyTheme in one sentence?</p>
                                        <span class="time d-block">7:45 AM</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="chat-list-footer" >
                        <form class="d-flex align-items-center" (ngSubmit)="enviar()">
                            <div class="btn-box d-flex align-items-center mr-3">
                                <button class="emoji-btn d-inline-block mr-2" data-toggle="tooltip" data-placement="top" title="Emoji" type="button"><i class='bx bx-smile'></i></button>

                                <button class="file-attachment-btn d-inline-block" data-toggle="tooltip" data-placement="top" title="File Attachment" type="button"><i class='bx bx-paperclip'></i></button>
                            </div>

                            <input type="text" [(ngModel)]="texto"
                            class="form-control chat-input" name="texto"
                            placeholder="Mensajes..."
                            autofocus
                            autocomplete="off">

                            <button type="submit" class="send-btn d-inline-block">Send <i class="bx bx-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->



<div class="container">
    <br><br><br>
<div class="invoice-area mb-90">
    <div class="invoice-header mb-30 d-flex justify-content-between">
        <div class="invoice-center-text"><br><br>
            <h3 class="mb-0">CONTROL SEGURIDAD FUNCIONARIOS</h3>
            
        </div>

        <div class="invoice-right-text">
           
        </div>
    </div>

    <div class="invoice-media mb-30">
        <div class="row">
            <div class="col-lg-3">
                <div class="text">
                    
                    <h4 class="mb-2" >Agentes Dentro </h4>
                    <div *ngFor="let msg of mensajes ">
                        <span style="color:green" class="d-block mb-1">{{msg.de}}&nbsp;&nbsp;:&nbsp;&nbsp;{{msg.cuerpo}}</span>
                    </div>
                   
                   
                </div>
            </div>

            <div class="col-lg-3 ">
                <div class="text">
                    <h4 class="mb-2">Agentes de comision</h4>
                   
                    <div *ngFor="let msg of mensajescomision ">
                        <span style="color:red" class="d-block mb-1">{{msg.de}}&nbsp;&nbsp;:&nbsp;&nbsp;{{msg.cuerpo}}</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="text text-right" *ngFor="let msg of totalmensajes ">
                    <span style="color:red" class="d-block mb-1">{{msg.de}}&nbsp;&nbsp;:&nbsp;&nbsp;{{msg.cuerpo}}</span>
                </div>
            </div><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>

    <!-- <div class="invoice-table table-responsive mb-30">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Description</th>
                    <th>Unit Price</th>
                    <th>Total</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>01</td>
                    <td>Apple iPhone XR (64GB)</td>
                    <td class="text-right">$100.00</td>
                    <td class="text-right">$100.00</td>
                </tr>

                <tr>
                    <td>01</td>
                    <td>Apple iPhone XR Black</td>
                    <td class="text-right">$25.00</td>
                    <td class="text-right">$50.00</td>
                </tr>

                <tr>
                    <td>01</td>
                    <td>HeadPhone</td>
                    <td class="text-right">$15.00</td>
                    <td class="text-right">$45.00</td>
                </tr>

                <tr>
                    <td>01</td>
                    <td>HeadPhone</td>
                    <td class="text-right">$15.00</td>
                    <td class="text-right">$45.00</td>
                </tr>

                <tr>
                    <td class="text-right" colspan="3"><strong>Subtotal</strong></td>
                    <td class="text-right">$195.00</td>
                </tr>

                <tr>
                    <td class="text-right" colspan="3"><strong>Sales Tax 5.0%</strong></td>
                    <td class="text-right">$9.75</td>
                </tr>

                <tr>
                    <td class="text-right total" colspan="3"><strong>Total</strong></td>
                    <td class="text-right total-price"><strong>$204.75</strong></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="invoice-btn-box text-right">
        <a href="#" class="default-btn"><i class='bx bx-printer'></i> Print</a>
        <a href="#" class="optional-btn"><i class='bx bx-paper-plane'></i> Send Invoice</a>
    </div> -->
</div>
</div>